*{
    padding: 0;
    margin: 0;
}

.layout h1{
    text-align: center;
    color: rgb(131, 190, 53);
    font-size: 80px;
    text-transform: uppercase;

}
body{
    background-color:  rgb(208, 214, 208);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form{
    width: 50%;
    text-align: right;
    margin:10% auto;
}
form .send{
    margin: 5% 50%;
}
h2{
    font-size: 40px;
    margin-bottom: 7%;
    margin-left: 2%;
}
.row1{
    margin: 0 20%;
}
h3{
    margin-bottom: 2%;
    font-size: 25px;
}